  <div class="container my-5">
    <h2 class="mb-4">Eventos Destacados</h2>
    <div class="row" >
    
      <div class="col-sm-6 col-md-3"  *ngFor="let e of events">
        <div class="evento-container">
          <img [src]="apiBase + '/eventos/' + e.id + '/imagen'">
          <h4 class="nombre-artista">{{e.evento}}</h4>
          <div class="fecha-lugar">
            <p>{{e.fecha | date:'dd/MM' }}, {{ ('1970-01-01T' + e.hora) | date:'HH:mm' }} hs</p>
            <p>{{e.establecimiento}}, {{e.ciudad}}</p>
          </div>
          <button class="btn btn-success btn-comprar" (click)="VerEvento(e.id)">Comprar Entrada</button>
        </div>
      </div>